<div class="accordion"> 
  {% for item in include.accordion %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% if value | strip != '' %}
    {% if item.type == 'link' %}
      {% if key == 'manifest' %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
        {%- endcapture -%}
      {% else %}
        {%- capture value -%}
          <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
            {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
          </a>
        {%- endcapture -%}
      {% endif %}
    {% endif %}
    <button class="button" data-toggle="collapse" data-target="#Display"><h4>{{ item.label }}</h4></button>
    <div id="Display" class="accordion hide collapse">
         <p>{{ value | newline_to_br }}</p>
    </div>
  {% endif %}
{% endfor %}
</div>
<br>
