
<div class="accordion"> 
  {% for item in include.accordion %}
    {% if item.value contains 'page.' %}
      {% assign key = item.content | remove: 'page' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.calue %}

    <button onclick="myFunction('Display')" class="button"><h4>{{ item.title }}</h4></button>
    <div id="Display" class="accordion hide">
         <p>{{ value | strip }}</p>
    </div>
</div>
{% endif %}
{% endfor %}
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("show") == -1) {
    x.className += "show";
  } else { 
    x.className = x.className.replace("show", "");
  }
}
</script>
</body>

{% comment %}
{% if layout.accordion %}
  {% assign metadata = layout.accordion %}
{% elsif page.accordion %}
  {% assign metadata = page.accordion %}
{% endif %}
{% if accordion %}
{% include accordion.html accordion=metadata %} 
{% endif %}
{{ content }}
{% endcomment %}