---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<div class="item-info">
<h5 alt="{{ page.cr_number | escape }}" class='item-cr-number'>{{ page.cr_number }}</h5>
<h3 alt="{{ page.label | escape }}" class='item-label'>{{ page.label }}</h3>
</div>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    <span class='pagination-link' id='prevlink'></span>
    {% if viewer == 'colorbox' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
    {% endif %}
    <span class='pagination-link' id='nextlink'></span>
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
{% endif %}

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta %}
  {% assign metadata = layout.meta %}
{% elsif page.meta %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata %}
  {% include item_metadata.html meta=metadata %}
{% endif %}

<div class="accordion" style="float: right">
<button onclick="myFunction('Display')" class="button"><h4>provenance{{ item.label }}</h4></button>
<div id="Display" class="accordion hide">
     <p>{{ content | strip }}</p>
</div>
</div>

<script>
function myFunction(id) {
var x = document.getElementById(id);
if (x.className.indexOf("show") == -1) {
x.className += "show";
} else { 
x.className = x.className.replace("show", "");
}
}
</script>